<!DOCTYPE html>
<html>
<head>
  <title>Cadastro concluído!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>⛩️Brechó de Mangás Usados⛩️</h1>
  <br><br>
  <h2>Seu mangá foi cadastrado com sucesso!</h2>
  <br><br>
  <a href="/" class="btn btn-home">
    <img src="casa.png" alt="Página Inicial" width="80" height="80">
  </a>
  <br>  
  <div class="btn-container">
    <a href="/consulta" class="btn btn-primary">Consultar</a>
  </div>
  <br>
  <div class="contato-rodape">
    <h2>Contato</h2>
    <p>Entre em contato conosco ou visite nossa loja física:</p>
    <ul>
      <li>Endereço: Av. EITA, 3242 - Manhatanha, Estado unidos</li>
      <li>Telefone: (11) 9876-5432</li>
    </ul>
    <a href="https://wa.me/5511987654321" target="_blank">
      <img src="/public/whatsapp.png" alt="WhatsApp" width="80" height="80">
    </a>
  </div>
</body>
</html>
